---
# PostgreSQL Service
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
  - port: 5433
    targetPort: 5433

---
# Application Service
apiVersion: v1
kind: Service
metadata:
  name: ywti-app
spec:
  type: NodePort
  selector:
    app: ywti-app
  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30080
